<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieappschool">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".data.LocalAppStorage"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieAppSchool">
        <activity android:name=".ui.ticket.TicketListActivity" android:exported="true"/>
        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.PasswordActivity"/>
        <activity android:name=".ui.detail.DetailActivity"/>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.AccountActivity" />
        <activity android:name=".ui.success.OrderSuccessActivity" android:exported="true"/>
        <activity android:name=".ui.order.OrderActivity" android:exported="true"/>
        <activity android:name=".ui.menu.MenuActivity" android:exported="true"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>